
body{

    .timeline {
        position: relative;
    }

    /* Container around content */
    .timeline{

        .container {
            padding-top: 20px;
            padding-bottom: 20 px;
            position: relative;
            margin: 0;
            width: 50%;
            color: #002D62;
    
            img{
                padding: 15px;
            }
        }

        .left-container{
            left: 0;
        }

        .right-container{
            left: 50%;
        }

    }

    .md-image{
        background-size: cover;
    }

    footer{
      
        a{
            text-decoration: none;
        }
    }
}