
body{

    .container{

        .col{
            padding: 30px;
        }
        .carousel-inner{
            img{
                width: 50%;
                max-height: 300px;
            }
        }
    }

    .partOne{
        padding-top: 20px;
        h1, p{
            color: #000080;
        }
    }

    .secondPart{
        h1, p{
            color: #000080;
        }
    }


    footer{
      
        a{
            text-decoration: none;
        }
    }

    
}