
body{

    .partOne{
        h1, p{
            color: #000080;
        }
    }

    .secondPart{
        h1, p{
            color: #000080;
        }
    }


    footer{
      
        a{
            text-decoration: none;
        }
    }

    
}